# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production Build Outputs
dist/
build/
out/
.next/

# Environment Variables & Private Keys (CRITICAL FOR SECURITY)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Debug and Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Editor & System Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# OS temp files
ehthumbs.db
Icon?
